{% extends 'base.html' %}
  {% block title %}  About {% endblock title %}
  
  
  
  {% block body %}
   <div class = "container-fluid px-0">
   <img src = "https://source.unsplash.com/1200x400/?About" class="d-block w-100 mx-0" alt="..." >
   </div>

  
<div class = "container py-4">
  <h1 class = "text-center">About Us</h1>

 <div class = "tell px-4 text-center">
     <p>Six Strings Music Company is part of India's leading television media and entertainment companies. It is amongst the largest producers and aggregators of Hindi programming in the world, with an extensive library housing over 222,000 hours of television content along with a strong presence in over 71 countries and a total viewership of 1 Billion plus people around the globe. Our Library has rights to more than 3,818 movie titles from premiere studios featuring iconic film stars, SIXSL houses the world’s largest Hindi film library.</p>
     </div>
  </div>   
  {% endblock body %}