{% extends 'base.html' %}
  {% block title %}  Services {% endblock title %}
  
  {% block body %}
   <div class = "container-fluid px-0">
   <img src = "https://source.unsplash.com/1200x400/?vocals" class="d-block w-100 mx-0" alt="..." >
   </div><br>
   <div class = "container px-5">
  <h1 class = "text-center">Indian Music | Western Music</h1>
   </div>
   <div class = "song text-center px-4"  > 
   <p>Owing to India's vastness and diversity, Indian Music encompass numerous genres, multiple varieties and forms which include classical music, folk music, filmi (Bollywood), rock, and pop. It has a history spanning several millennia and developed over several geo-locations spanning the sub-continent. Music in India began as an integral part of socio-religious life. 
   <br> <br>Western music is a form of country composed by and about the people who settled and worked throughout the Western United States and Western Canada. Western music celebrates the lifestyle of the cowboy on the open ranges, Rocky Mountains, and prairies of Western North America. Directly related musically to old English, Irish, Scottish, and folk ballads, also the Mexican folk music of Northern Mexico and Southwestern United States influenced the development of this genre, particularly corrido, ranchera, New Mexico and Tejano. Western music shares similar roots with Appalachian music (also called country or hillbilly music), which developed around the same time throughout Appalachia and the Appalachian Mountains. The music industry of the mid-20th century grouped the two genres together under the banner of country and western music, later amalgamated into the modern name, country music. </p>
    </div> 

    <div class = "types">
     <ul class="list-group">
  <br>
  <li class="list-group-item"><h3>Classical Music</h3> 
  <p>Indian classical music has two foundational elements, raga and tala. The raga, based on a varied repertoire of swara (notes including microtones), forms the fabric of a deeply intricate melodic structure, while the tala measures the time cycle.The raga gives an artist a palette to build the melody from sounds, while the tala provides them with a creative framework for rhythmic improvisation using time. In Indian classical music the space between the notes is often more important than the notes themselves, and it traditionally eschews Western classical concepts such as harmony, counterpoint, chords, or modulation</p>
  </li>
  <br>
  <li class="list-group-item"><h3>Folk Music</h3>
  <p>Indian folk music (Hindi: भारतीय लोक संगीत) is diverse because of India's vast cultural diversity. It is sung in various languages and dialects throughout the length and breath of this vast nation and exported to different parts of the world owing to migration.</p> </li>
<br>
<li class="list-group-item"><h3>Bollywood Music</h3>
   <p>Songs can make and break a film, determining whether it will be a flop or a hit: "Few films without successful musical tracks, and even fewer without any songs and dances, succeed".Globalization has changed Bollywood music, with lyrics an increasing mix of Hindi and English. Global trends such as salsa, pop and hip hop have influenced the music heard in Bollywood films.
   </p></li>
  <br>
  <li class="list-group-item"><h3>Rock Music</h3>
  <p>India has produced many rock bands, some of whom have made it into mainstream Indian music and achieved some international recognition. RLC66 one of the upcoming acts from Mumbai trying to combine various genres from western music. Their main influences are Porcupine Tree, Tool, Dream Theater. The song "Abrupt" is earning some good number of fans in Mumbai underground scene. Indian Guitar Player Kapil Srivastava has composed Rock and Roll fusion in his Indian Guitaroo Volume </p></li>
  <br>
    <li class="list-group-item"><h3>Pop Music</h3>
    <p>Although much of the music that appears on record charts is seen as pop music, the genre is distinguished from chart music. Identifying factors usually include repeated choruses and hooks, short to medium-length songs written in a basic format (often the verse-chorus structure), and rhythms or tempos that can be easily danced to. Much pop music also borrows elements from other styles, such as rock, urban, dance, Latin, and country.</p></li>
<br>
  </ul>
</div>

  {% endblock body %}