
<!doctype html>
<html lang="en">
  <head>
    {% extends 'base.html' %}
    {% block title %}  Todo {% endblock title %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
  </head>


 {% block body %}
 <body>
   <div class = "container-fluid px-0">
     <img src = "https://source.unsplash.com/1200x400/?List" class="d-block w-100 mx-0" alt="..." >
   </div><br>
   <div class = "row px-4 ">
     <div class = "col">
       <h2>Add Item</h2>
       <form action = "/todo" method = "post" class = "form-inline">
           {% csrf_token %}
           <input type="text" name = "content" class="form-control mb-2 mr-sm-2"  placeholder="type here">
           <button type="button" class="btn btn-primary mb-2">Submit</button>
        </form>
     </div>
   </div>  <br>

    <div class= "row px-4 ">
     <div class = "col">
       <ul class="list-group">
         {% for todo_items in todo_items %}
           <li class="list-group-item">{{todo_items.text}}</li>
           {% endfor %}
       </ul>
     </div>
   </div>
   <br>
 </body>
 {% endblock body %}

</html>